<div class="fleche-container">
  <div class="fleche">
    <ion-button (touchstart)="this.changeDirection(4)" (touchend)="this.changeDirection(-1)"
                (mousedown)="this.changeDirection(4)" (mouseup)="this.changeDirection(-1)">
      <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-arrow-clockwise"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
      </svg>
    </ion-button>
  </div>
  <div></div>
  <div class="fleche">
    <ion-button (touchstart)="this.changeDirection(5)" (touchend)="this.changeDirection(-1)"
                (mousedown)="this.changeDirection(5)" (mouseup)="this.changeDirection(-1)">
      <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor"
           class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
      </svg>
    </ion-button>
  </div>
  <div></div>
  <div class="fleche">
    <ion-button (touchstart)="this.changeDirection(0)" (touchend)="this.changeDirection(-1)"
                (mousedown)="this.changeDirection(0)" (mouseup)="this.changeDirection(-1)">
      <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-up-short"
           fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
      </svg>
    </ion-button>
  </div>
  <div></div>
  <div class="fleche">
    <ion-button (touchstart)="this.changeDirection(1)" (touchend)="this.changeDirection(-1)"
                (mousedown)="this.changeDirection(1)" (mouseup)="this.changeDirection(-1)">
      <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-short"
           fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
      </svg>
    </ion-button>
  </div>
  <div class="fleche">
    <ion-button (touchstart)="this.changeDirection(2)" (touchend)="this.changeDirection(-1)"
                (mousedown)="this.changeDirection(2)" (mouseup)="this.changeDirection(-1)">
      <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-down-short"
           fill="currentColor"
           xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
      </svg>
    </ion-button>
  </div>
  <div class="fleche">
    <ion-button (touchstart)="this.changeDirection(3)" (touchend)="this.changeDirection(-1)"
                (mousedown)="this.changeDirection(3)" (mouseup)="this.changeDirection(-1)">
      <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-right-short"
           fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
    </ion-button>
  </div>
</div>


