<ion-header>
  <ion-toolbar>
    <ion-title>R2D2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">R2D2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="content">
    <!--<ion-button id="disconnection" routerLink="/home" (click)="disconnection()"></ion-button>-->
    <fa-icon id="disconnection" routerLink="/home" (click)="disconnection()" [icon]="test"></fa-icon>
    <div id="controls">
      <app-direction id="direction" [r2d2Service]="r2d2Service"></app-direction>
      <app-speed id="speed" [r2d2Service]="r2d2Service"></app-speed>
    </div>
  </div>
</ion-content>
